In [3]:
#pandas is data manipulation library
# tabular/excel type of data
# columns and rows 

#why pandas and not numpy ?
# pandas can store numeric and strings also 
# pandas is built on top of numpy

#all the internet data is available in json only
# and json is dictionary in python
import pandas as pd

In [ ]:
# problems in numpy


# excel has hetergogenous
# column names nhi hote numpy  mein

# data is csv(comma seperated values)
#

In [6]:
import numpy as np
np.arange(0,9).reshape(3,3)
#there is no way we can add these columns names of this array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
{
    {"name": "python",
    "age": 11}, 
    
    {"name": "mayank",
     "age" : 12}
}

TypeError: unhashable type: 'dict'

In [7]:
{"name": "nikita", "age": 13}

{'name': 'nikita', 'age': 13}

In [9]:
# 1. pandas is a open source(can see the code) and free library
# 2. easy for data structure and analysis
# 3. high performance

# Types of Data Structure in pandas

1. series                 - 1diemnsional  - 1-d labelled, homogenous size and immutable in nature.
2. dataframe              - 2 dimensional  - 2-d labelled, heterogenours  , size:mutable
3. panel (not used mainly) - 3 dimensional - 3d labelled, mutable

# PANDAS DATAFRAME
2-dimeniosnal labelled and mutable data structure which stores data in form of rows and columns.